<div class="jumbotron">
  <h2 class="page-header">{{pokemon.name}}</h2>

  <hr>

  <div class="row">
    {{#each sprites as |item|}}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="{{item.lastObject}}" alt="{{text-normalize item.firstObject}}">
            <div class="caption">
              <h3 class="thumbnail__h3">{{text-normalize item.firstObject}}</h3>
            </div>
          </div>
        </div>
    {{/each}}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">abilities</div>
    <table class="table">
      <tbody>
        {{#each pokemon.abilities as |habilitie|}}
          <tr>
            <td>{{habilitie.ability.name}} [slot {{habilitie.slot}}]</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Stats</div>
    <table class="table">
      <thead> 
        <tr> 
          <th>name</th> 
          <th>effort</th> 
          <th>base stat</th> 
        </tr> 
      </thead>
      <tbody>

        {{#each pokemon.stats as |stat|}}
        
          <tr>
            <td>{{text-normalize stat.stat.name}}</td>
            <td>{{stat.effort}}</td>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{stat.base_stat}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stat.base_stat}}%;">
                  {{stat.base_stat}}
                </div>
              </div>
            </td>
          </tr>

        {{/each}}

      </tbody>
    </table>
  </div>

  <p class="text-center">
    <a class="btn btn-primary" href="javascript:history.go(-1)">
      <i class="fa fa-home"></i> Voltar
    </a>
  </p>

</div>